project:
  type: book
  output-dir: docs

book:
  title: "Business Data Science"
  subtitle: A guide for data-driven decisions
  author: "Ignacio Martinez, ..."
  license: "CC BY-NC"
  repo-actions: [edit]
  site-url: https://book.martinez.fyi
  repo-url: https://github.com/ignacio82/book
  repo-branch: master

  comments:
    utterances:
      repo: ignacio82/book
      label: Utterances

  date: "07/03/2024"
  cover-image: cover.png
  chapters:
    - part: index.qmd
      chapters: 
        - chapter_01.qmd
        - potential_outcome.qmd
        - decisions_first.qmd
        - rce.qmd
        - surrogates.qmd
    - part: rct.qmd
      chapters: 
        - rct_basic.qmd
        - bad.qmd
        - factorial.qmd
        - iv.qmd    
    - part: other_methods.qmd
      chapters: 
        - chapter_05.qmd
        - causalimpact.qmd
        - bsynth.qmd
    - part: glm.qmd
      chapters: 
        - blm.qmd     
        - meta-analysis.qmd
        - beyond_normality.qmd        
    - part: ml.qmd    
      chapters: 
        - bart.qmd       
    - references.qmd
  sidebar: 
    logo: hex.png
bibliography: references.bib

format:
  html:
    theme: cosmo
    number-depth: 2
    include-in-header:
      text: |
        <script defer src="https://umami.martinez.fyi/script.js" data-website-id="bc587120-3bd3-4c2d-b463-5eb64dd4e330"></script>
    code-tools:
      source: true   

    filters:
      - social-share
    share:
      permalink: "https://book.martinez.fyi/"
      description: "Business Data Science"
      linkedin: true
      email: true
      mastodon: true
      
  pdf:
    documentclass: scrreprt     

resources:
  - CNAME    
execute:
  freeze: auto  #

