project:
  type: book
  output-dir: docs

book:
  title: "Business Data Science"
  subtitle: A guide for data-driven decisions
  author: "Ignacio Martinez, ..."
  license: "CC BY-NC"
  repo-actions: [edit]
  site-url: https://book.martinez.fyi
  repo-url: https://github.com/ignacio82/book
  repo-branch: master
  favicon: hex.png

  comments:
    utterances:
      repo: ignacio82/book
      label: Utterances

  date: "10/04/2024"
  cover-image: cover.png
  image: hex.png
  chapters:
    - part: index.qmd
      chapters: 
        - chapter_01.qmd
        - potential_outcome.qmd
        - baseline.qmd
        - bayes101.qmd
        - decisions_first.qmd
        - rce.qmd
        - surrogates.qmd
    - part: rct.qmd
      chapters: 
        - rct_basic.qmd
        - bad.qmd
        - factorial.qmd
        - iv.qmd    
    - part: other_methods.qmd
      chapters: 
        - matching.qmd
        - causalimpact.qmd
        - bsynth.qmd
    - part: glm.qmd
      chapters: 
        - blm.qmd     
        - meta-analysis.qmd
        - beyond_normality.qmd     
        - hurdle.qmd
    - part: stochastictrees.qmd 
      chapters: 
        - bart.qmd
        - bcf.qmd
        - longbet.qmd
    - references.qmd
  sidebar: 
    logo: hex.png
bibliography: references.bib

format:
  html:
    theme: cosmo
    resources:
      - shinylive-sw.js
    open-graph: true
    twitter-card: true
    number-depth: 2
    include-in-header:
      text: |
        <script defer src="https://umami.martinez.fyi/script.js" data-website-id="bc587120-3bd3-4c2d-b463-5eb64dd4e330"></script>
    code-tools:
      source: true   

    filters:
      - social-share
    share:
      permalink: "https://book.martinez.fyi/"
      description: "Business Data Science"
      linkedin: true
      email: true
      mastodon: true
  
citation:
  type: book
  container-title: "Business Data Science: A guide for data-driven decisions"
  url: https:/book.martinez.fyi
google-scholar: true 

resources:
  - CNAME
  - b1020836019d4ba6810c61a919d3867a.txt
execute:
  freeze: auto

